* {
  /*This make sures that the intitial window is having 0 margin and padding*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;/*Prevents padding and border from increasing the original box size*/
}

a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
                              /*-------login--------*/
.login_page {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  display: flex;
  background-image: url('https://papers.co/wallpaper/papers.co-vy12-simple-white-pattern-background-8-wallpaper.jpg'); /*This sets an image as background for whole login page*/
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
}

.login-container {
  background: transparent;
  backdrop-filter: blur(10px);/*This option blurs the login-container*/
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 5px;
}

.logo {
  margin-top: 100px;
}

.login-container h1 {
  text-align: center;
  margin-bottom: 24px;
  color: #333333;
}
.login-container .wrong_entry{
  width: 100%;
  background-color: rgb(252, 136, 136);
  text-align: center;
  margin-bottom: 15px;
  border-radius: 7px;
}
.login-container form {
  position: relative;
}

.login-container form input {
  width: 100%;
  height: 100%;
  border: 1px solid #cccccc;
  border-radius: 7px;
}

.login-container form label {
  position: relative;
  left: 10px;
  top: -29px;
  padding-left: 5px;
  padding-right: 5px;
  background: white;
  transition: all 0.3s ease;
}

.login-container .user_name,
.login-container .user_password {
  width: 100%;
  height: 40px;
  margin-bottom: 16px;
  border: 1px solid #cccccc;
  border-radius: 7px;
}

input:focus+label,
input:valid+label {
  font-size: 12px;
  top: -50px;
}

input:focus+label {
  color: blue;
}

input:focus {
  border-color: blue;
  outline: 1.5px solid blue;
}

.login-container button {
  width: 100%;
  padding: 12px;
  border: none;
  background-color: #007bff;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.login-container button:hover {
  /*These things are the changes when mouse pointer is bought to login-container button*/
  background-color: #0056b3;
  border-radius: 9px; 
}

.forgot_pass {
  text-align: center;
  margin-top: 4px;
  text-decoration: none;
}

.forgot_pass :hover {
  text-decoration: underline;
  color: #4916d4;
}

                                            /*----student_dashboard-----*/
.nav_logo{
  top:0;
  width: 100%;
  height: max-content;
  background:transparent;
  display: flex;  /*This makes display flex type where the inner objects are block type*/
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: #334D5C;
}
.nav_logo img{
  padding: 5px;
  margin-right: 10px;
  width:40px;
  height:40px;
  border-radius: 50%;
}
.dash{
  width:100%;
  display: flex;
  overflow-x: hidden;/* Make sure not to show the content beyond the container*/
}
.dash .options{
  background-color: white;
  width: clamp(150px,75%,300px);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #334D5C;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 1;/*Tells how much an item shrinks when not enough space*/
  transition: 0.5s ease;/*Transtion timing and mode of the changes*/
  
}
.dash .options .toggle_option{
width:100%;
text-align: center;
overflow-x: hidden;
}
.dash .options h2{
padding-top: 10px;
padding-bottom: 15px;
}
.dash .options #dash_opts{
width: 100%;
display: flex;
flex-direction: column;/*Direction in which the block elements inside this container are shown*/
align-items: center;
justify-content: space-between;/*To ditribute the flex items along main axis*/
}   
.dash .options #dash_opts div{
width: 90%;
height:35px;
background-color: rgba(213, 201, 228, 0.508);
display: flex;
justify-content: center;/*makes sure to place the contents in the center of the container*/
align-items: center;
border-radius: 7px;
box-shadow: 0 0.5rem 0.7rem #0005;
margin-bottom: 15px;
}
.dash #dash_opts div i{
width:10px;
height: 10px;
padding-right: 15px;
display: flex;
justify-content: center;
align-items: center;
}
.dash .user_data{
  width: 100%;
  overflow: none;
  top:40px;
  left: clamp(100px,75%,200px);/*Detrmines the position of the container from the left*/
  margin: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:20px/*gap between the blocks inside this continer*/
}
.user_data #user_details #user_img{
  margin-top: 5px;
  width:150px;
  height:150px;
  border-radius: 50%;
  text-align: center;
  background-color: rgb(238, 244, 244);
}
.user_data #user_details #user_img #user_img_icon{
  font-size: 120px;
}
.user_data #user_details #user_contact{
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 10px;
}
.user_data #user_details{
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0 0.5rem 0.7rem #0005;/*Give this container a shadow of 0 offset horizontal and 0.5 rem in vertical and a blur radius of 0.7rem*/
  justify-content: center;
  align-items: center;
}
.user_data  .points{
  background-color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  box-shadow: 0 0.5rem 0.7rem #0005;

}
.user_data  .points #score{
  width: 150px;
  height:150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#coin{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 8px solid rgb(255, 217, 0);
  box-shadow: 0 0.5rem 0.7rem #0005;
  background-color: yellow;
  animation: coin 2s infinite;/*This is the animation name ,holding time and duration info*/
  transition: all 2s ease-in-out;
}
@keyframes coin {
  /*This a full rotation along the y-axis*/
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.dash .user_data  #notice{
  background-color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 7px;
  box-shadow: 0 0.5rem 0.7rem #0005;
  overflow-y: hidden;
  max-height: 277px;/*giving a max height of 277px to this container*/
}
.dash .user_data  #notice h2{
  width: 100%;
  background-color: #8b8d8c;
  text-align: center;/*Makes sure that the text in this container is aligned in center*/
}
.dash .user_data  #notice .notification{
  width:90%;
  height: 85%;
  border: 2px solid #8c949d;
  border-top: 0px solid;
  background-color: #e4e6e8;
  overflow-y: hidden;
}
.dash .user_data #notice .notification marquee{
  height: 100%;/*This makes this container cover the whole window i.e full height of tthe web page*/
}
.dash .user_data  #notice .notification  li{
  list-style-type: disc;/*This says to display like bullet pointed lists*/
  padding-bottom: 10px;/*Text/content is placed 10px above from the bottom of the container*/
  padding-left: 5px;
}
@media only screen and (max-width:800px){
  /*The following are changes when the max width of the screen is 800px*/
  .dash .user_data{
    font-size: small;
    display: grid;
    grid-template-columns: 1fr 1fr;/*Two columns with equal width*/
    grid-template-rows: 5fr 2fr;/*Two rows  with 5 and 2fr which are proportionate to the screen size*/
  }
  .user_data  #notice{
    grid-column: 1/3;
    font-size: 12px;
    grid-row: 2/4;
  }
  
}

@media only screen and (max-width:600px){
  /*Changes implemented when the max-screen size is 600px*/
  #stu_hamburger{
    display: block;
  }
  .dash .user_data  #notice{
    grid-column: 1/3;
  }
  .dash .options{
    position: absolute;
    z-index: 2;/*This says the priority of  the container to display above the other containers */
    transition: 0.5s ease;
  }
  .nav_logo{
    flex-direction: row;
  }
}
@media only screen and (max-width:400px){
  .dash .user_data{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.8fr 0.8fr 0.7fr;
    column-gap: 0;
  }
  .dash .user_data  #notice{
    grid-row: 3/4;
  }
  .dash .user_data  .points{
    grid-row: 2/3;/*positions the container in btw the 2nd and 3rd grid line*/
  }
  .dash .user_data #user_details #user_img{
    margin-top: 5px;/*It is the top margin of the container*/
    width:100px;
    height:100px;
  }
  #coin{
    width: 90px;
    height: 90px;
  }
  .dash .user_data #user_details #user_img #user_img_icon{
    font-size: 80px;
  }
  .your_record{
    font-size: small;
  }
  .lib_record .records{
    font-size: small;
  }
}
.your_record{
  width:100%;/*Makes the container occupy the full horizontal space*/
  text-align: center;
}
.lib_record{
  width: 100%;
  overflow-x: auto;
}
.lib_record .records{
  padding-left: 5px;
  padding-right: 5px;
  min-width: 550px;/*min-width is given to this container and if the screen width is less than 550px then we nee dto scroll right to see the complete contents*/
}

.lib_record .records #table-container{
  max-height: 500px;
  overflow-y: auto;
}
.lib_record .records table {
  width:100%;
}

.lib_record .records table tbody tr td{
  padding: 5px;/*Text inside the container is at 5px from the border of the container*/
}



                                                    /*----main_page-----*/
nav{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:fixed;
    top: 0px;
    backdrop-filter: blur(10px);/*blurs the background of this container*/
    z-index: 2;
    height:40px;
    background-color: #334D5C;
}

nav img{
    margin-left: 5px;
    height:6vh;
    border-radius: 50%;
}
nav ul {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-right: 10px;
}
nav ul li{
  list-style-type: none;
}
nav li a:hover{
    font-size:small;
    transition: 0.3s ease;
    border-radius: 7px;
    box-shadow: 0 0.5rem 0.7rem #0005;
}
nav li a {
    text-decoration: none;/*This removes the unessasary underline which sometimes aren't required*/
    padding: 5px 5px;
    color: white;
}
@media only screen and (max-width:700px){
  #nav_hamburger{
    display: block;/*displays the contents inside this container as blocks below the screen width of 700px*/
  }
  .nav_items {
    position: absolute;/*The position of the blocks/ containers inside this container are not dependent on this container*/
    top: 40px;
    left: 0;
    right:0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #334D5C;
    overflow: hidden;
    transition: 0.5s ease;
    
  }
  .nav_items li{
    margin-bottom: 15px;
    width:200px;
  }
  
}

.hero_section #institute_img {
  margin-left: 0px;
  max-width: 85%;
}

.hero_section .about_institute {
  width: 25vw;
  margin-right: 0px;
  text-align: center;
  background-color: #b9d7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero_section .about_institute h2{
  margin-top: 10px;
  margin-bottom: 10px;
}
.hero_section .about_institute p{
  font-size: medium;
  padding-bottom: 10px;
}
.hero_section {
  margin-top: 41px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow-x: auto;/*The container’s content is clipped when it overflows at the left and right edges*/
}
@media only screen and (max-width:975px){
  .hero_section .about_institute{
    width:100%;
    justify-content: center;
  }
}
.welcome{
  width:100%;
  text-align: center;
}

#search_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 4%;
}

#search_container .search {
  width: 95%;
  box-shadow: 0 0.5rem 0.7rem #0005;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  flex-wrap: wrap;/*Flex items are wrapped over multiple lines another if neccessary*/
}

.search #search_bar {
  width: clamp(265px, 90%, 500px);/*This makes sure to maintain this box width is btw 265px-500px acc to available space with filling 90% of container width*/
  height: 35px;
  border-radius: 60px;
  display: flex;
  align-items: center;
  background-color: #d1ece4;
  box-shadow: 0 0.5rem 0.7rem #c2c5c4;
  margin-top: 5px;
}

#search_bar input {
  background: transparent;/*Gives transperent background to this container*/
  flex: 1;/*short hand for flex-grow,shrink and basis*/
  border: 0;
  outline: none;
  font-size:large;
  margin-left: 5px;
}
#search_bar #search_button{
  all:unset;/*removes all the styles set*/
}

#search_bar i {
  padding-right: 5px;
  padding-left: 10px;
  font-size: larger;
}

.drop_box select {
  height: 30px;
  outline: none;
  border: 0;
  margin-right: 10px;
  margin-top: 5px;
  border-radius: 60px;
  background-color: #d1ece4;
  box-shadow: 0 0.5rem 0.7rem #c2c5c4;
}

.books {
  width: 55vh;/*makes the width of the container 55% of the screen width*/
 /* height: 60vh;*/
  background-color: rgba(245, 244, 246, 0.508);
  margin-bottom: 20px;
  box-shadow: 0 0.5rem 0.7rem #0005;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  flex-direction: column;/*This says in vertical direction the blocks are arranged inside this container */
  align-items: center;
  flex-shrink: 1;
}
.books .book_description{
  width:95%;
}
/*Below media queries are used to change the style of containers acc to the screen dimention on requirement*/
@media only screen and (min-width:450px) and (max-width:700px){
  .offline_books .books {
    max-width: 35vh;
    font-size: small;
  }
  .books .book_img {
    max-width: 30vh;
    max-height: 35vh;
  }
  .hero_section .about_institute{
    font-size: small;
  }
}
@media only screen and (max-width:450px){
  .books {
    max-width: 95vw;
    font-size: smaller;
  }
  .books .book_img {
    max-width: 20vh;
    max-height: 30vh;
  }
  .hero_section .about_institute{
    font-size: x-small;
  }
  .hero_section .about_institute p{
    font-size: small;
  }
}
.e-books,
.offline_books {
  width: 100%;
  display: flex;
  justify-content: space-around;/*Gives space around the blocks inside the container*/
  flex-wrap: wrap;
  margin-top: 2%;
}

.suggestion {
  display: grid;
  margin-top: 3%;
}

.book_img {
  max-width: 40vh;
  max-height: 45vh;/*gives the container height 45% of screen height*/
  background-color: #edf8f5;
  box-shadow: 0 0.5rem 0.7rem #0005;
  border-radius: 7px;
}

.like_n_review {
  display: flex;
  justify-content: space-between;
}

footer {
  background-color: #000;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: aliceblue;/*Container's text color*/
  position: absolute;
  margin-top: 20px;
}

#contact_icons i {
  width: 50px;
}

                                            /*--------issue_book--------*/
#book_container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;/*The direction of blocks inside this container are arranged in reverse horizontal direction*/
}

#book_container .img_n_likes {
  width: 46vh;
  height: 53vh;
  background-color: transparent;
  display: flex;
}

@media only screen and (max-width:700px){
  #book_container #book_img{
    max-width: 30vh;
    max-height: 35vh;
  }
}
@media only screen and (max-width:450px){
  .book_details .description_of_book{
    font-size: 14px;
  }
}
.book_details {
  width: 100%;
}

.book_details .order div {
  height: 30px;
  width: clamp(260px, 75%, 400px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  border-radius: 60px;
  background-color: rgba(248, 244, 7, 0.796);
}

.book_details .order,
.book_details .dates {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.book_details .order #renew_book{
  background-color: rgba(248, 208, 121, 0.796);
}
.book_details .order #issue_book {
  background-color: rgba(248, 172, 7, 0.796);
}

.book_details .description_of_book {
  padding-left: 20px;
}

.book_details .dates .wrapper {

  width: 150px;
  height: 30px;
  background-color: #e7ecea;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8b8d8c;
  border-radius: 7px;
}

.book_details .dates .wrapper span {
  width: 100%;
  text-align: center;
  font-size: 20px;
  cursor: pointer;/*The mouse cursor is a pointer when inside this container/box*/
}

.book_details .dates .wrapper .num {
  border-right: 1px solid #8b8d8c;
  border-left: 1px solid #8b8d8c;
  pointer-events: none;/*Hover or any pointer related events are disabled in this container*/
}
.book_details .dates #due_date{
  width:100%;
  text-align: center;
}
.dates b div {
  display: flex;
}

.book_details .review_section {
  width: 100%;
  height: 400px;
  margin-top: 10px;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book_details .review_section .review_box {
  width: clamp(260px, 75%, 500px);
  height: clamp(40vh, 75%, 60vh);/*both height and width of the container are set in a range with a filling of the 75% of total dimentions of the window*/
  margin-top: 20px;
  background-color: #e7ecea;
  border: 2px solid #8b8d8c;
  border-radius: 12px;
  overflow-y: auto;
}

.book_details .review_section .review_box #review {
  padding: 10px;
}

.book_details .review_section .review_box #review_comment {
  padding-left: 10px;
}

.book_details .review_section .add_review {
  width: 100%;
  display: flex;
  justify-content: center;
}

.book_details .review_section .add_review textarea {
  width: clamp(200px,75%,250px);
  border: 2px solid #8b8d8c;
  border-radius: 4px;
}

::placeholder {
  color: #000;
  opacity: 1;/*This featue allows the container to change its transperency*/
}

                              /*--------admin dashboard---------*/
/*                                               

.container {
  display: grid;
  height: 100vh;
  grid-gap: 0.5rem;
  grid-template-areas:
    'side_bar profile profile profile stu stu stu'
    'side_bar activity activity activity activity activity activity';
}

.side_bar {
  text-align: center;
  border-radius: 7px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0.5rem 0.7rem rgba(1, 0, 0, 0.333);
  grid-area: side_bar;
}

.stu_activity {
  text-align: center;
  border-radius: 7px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0.5rem 0.7rem rgba(1, 0, 0, 0.333);
  grid-area: stu;
}

.profile {
  display: inline-block;
  text-align: center;
  align-items: center;
  border-radius: 7px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0.5rem 0.7rem #0005;
  grid-area: profile;
}

.activity {
  text-align: center;
  border-radius: 7px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0.5rem 0.7rem #0005;
  grid-area: activity;
}

.side_bar #nav_opts div {
  width: 90%;
  height: 35px;
  background-color: rgba(213, 201, 228, 0.508);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  box-shadow: 0 0.5rem 0.7rem #0005;
  margin: 5px;
}

.side_bar #nav_opts {
  width: 100%;
  height: 160px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#nav_opts div i {
  width: 10px;
  height: 10px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#user_img {
  display: flex;
  justify-content: center;
  height: 150px;
  width: 150px;
  border-style: groove;
  border-color: #0005;
  opacity: 0.5;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 5px;
  background-color: rgba(213, 201, 228, 0.508);
  box-shadow: 0 0.5rem 0.7rem #0005;
} */
                                          /*-----------search page-----------*/
.filter_container{
    width:20vw;
    background-color: rgb(214, 217, 217);
    margin-right: 15px;
}
.filter_container h3,
.filter_container #apply_filter{
    width:100%;
    padding: 3px;
    text-align: center;
}
.filter_container .genre,
.filter_container .publisher{
    padding-left: 5px;/*the content in the box is spaced 5px into from the border*/
    max-height: 210px;
    overflow-y: auto;
}
.search_result_container{
    width: 100%;
    background-color: antiquewhite;
    height:100vh;
    overflow-y: scroll;
}
.search_result_container h2{
    width:100%;
    padding: 3px;
}
.search_result_container .resultant_books{
    width:100%;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}
.search_result_container .resultant_books .books{
  width:100%;
  display: flex;
  flex-direction: row-reverse;
}
.search_result_container .resultant_books .book_img{
    height:20vh;
    width:15vh;
}
.search_result_container .resultant_books .book_description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:10px;
}
.hamburger div{
    width: 25px;
    height: 5px;
    background: #000;
    margin: 3px 0;
    border-radius: 2px;
    transition: 0.4s ease;
}
.hamburger{
    padding-right: 5px;
    padding: 5px;
    display: none;
    transition: 0.5s;
    width: fit-content;/*The width is changed acc to the content and its width*/
    height: fit-content;/*Same goes as width abv*/
}
/*----------------- Active hamburger-----------*/
.active .bar1{
    transform: translate(0,8.5px) rotate(-45deg);/*Moves the box by 8.5px in vertical direction and rotates 45eg in clockwise direction*/
}
.active .bar2{
    opacity: 0;
}
.active .bar3{
    transform: translate(0,-8.5px) rotate(45deg);
}
.filter_container_responsive{
    position: absolute;
    width: 200px;
    z-index: 1;
    margin-left: 0px;
    background-color: rgb(228, 232, 232);;
}

.filter_container_responsive h3,
.filter_container_responsive #apply_filter{
    width:100%;
    padding: 3px;
    text-align: center;
}

.filter_container_responsive .genre,
.filter_container_responsive .publisher{
    padding-left: 5px;
    max-height: 210px;
    overflow-y: auto;
}
/*These media queries tells when the hamburger container is in action */
@media only screen and (max-width:700px){
    #hamburger{
        display: block;
    }
    .filter_container{
        display: none;
    }
    .search_result_container .resultant_books .book_description{
      font-size: 13px;
    }
}
@media only screen and (max-width:450px){
    .search_result_container .resultant_books .book_description{
      font-size: smaller;
    }
}
                                        /* ---------request page--------- */

.request_page {
  font-family: Arial, sans-serif;/*There is a font change by accessing the font family*/
  width:100%;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.request-container {
  background: transparent;
  backdrop-filter: blur(10px);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 5px;
  
}

.request-container h1 {
  text-align: center;
  margin: 10px 0;/* Gives different margins to the container as 10px from left and 0px from right */
  color: #333333;
}
.request_page .request-container form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.request_page .request-container form div{
  width:100%;
  display: flex;
  justify-content: center;
}
.request_page .request-container form div input{
  width: 100%;
  height: 30px;
  margin:10px 7px;
  border-radius: 12px;
  border: 1.5px solid rgb(53, 52, 52);
  box-shadow: 0 0.3rem 0.5rem #0005;
  padding-left: 5px;
}
.request_page .request-container form div textarea{
  width:95%;
  margin-bottom: 10px;
}
.request_page .request-container form div button{
  width:95%;
  padding: 5px 0;
  border-radius: 12px;
  border: 1.5px solid rgb(100, 147, 241);/*Border of the container is given 1.5px thickness solid and color using the rgb selector*/
  background-color: rgb(150, 181, 244);
}
.request_page .request-container form div select{
  width:80%;
  margin-bottom: 10px;
  padding: 3px;
}
